.checkout-container {
    margin: 20px;
    }
    
    table {
    width: 80%;
    margin-top: 20px;
    }
    
    .total {
    font-weight: bold;
    margin-top: 20px;
    }
    
    .form-group {
    margin-top: 20px;
    }
    
    label {
    font-weight: bold;
    }
    
    select.form-control {
    margin-bottom: 10px;
    }
    
    button.btn-primary {
    margin-right: 10px;
    }
    
    button.btn-danger {
    margin-top: 20px;
    }
    